{% extends 'base.html' %}

{% load static %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}

{% block title %}Doctors Sign-Up{% endblock %}

{% block content %}
    <div class="container">
        <div class="form-container">
            <h2 class="text-center">Doctors Sign-Up</h2>
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary btn-block">Sign Up</button>
            </form>
        </div>
    </div>
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/doctor_signup.css' %}">
{% endblock %}
